PUBLIC_GISCUS_REPO=JJyun-ustc/yunn-blog
PUBLIC_GISCUS_REPO_ID=
PUBLIC_GISCUS_CATEGORY=Announcements
PUBLIC_GISCUS_CATEGORY_ID=
PUBLIC_GISCUS_MAPPING=pathname
PUBLIC_GISCUS_THEME=preferred_color_scheme
PUBLIC_GISCUS_LANG=zh-CN

PUBLIC_WALINE_SERVER_URL=
PUBLIC_WALINE_PLACEHOLDER=写下你路过这里时的心情吧...
PUBLIC_WALINE_AVATAR=mp
PUBLIC_WALINE_REQUIRED_META=nick
PUBLIC_WALINE_PAGE_SIZE=8
PUBLIC_WALINE_LANG=zh-CN
PUBLIC_WALINE_LOGIN=disable

TINA_PUBLIC_CLIENT_ID=
TINA_TOKEN=
